
@{
    ViewBag.Title = "Choice";
    Layout = "~/Views/Shared/_CustomLayout.cshtml";

}
<form action="#" class="p-4 border rounded">
    <div class="col-lg-6 mb-5">

        <img src="~/Content/images/ " height="350" width="350" />
        <a href="@Url.Action("Login", "User")" class="btn btn-block btn-primary btn-md"> Log in </a>
    </div>
    </form>
<form action="#" class="p-4 border rounded">
    <div class="col-lg-6">
        <img src="~/Content/images/finance-en-entreprise.jpeg" height="350" width="350" />
        <a href="@Url.Action("Login", "Entreprise")" class="btn btn-block btn-primary btn-md"> Log in </a>
    </div>
    </form>


