@model Domain.Entities.Question

@{
    ViewBag.Title = "Create";
}


<!-- HOME -->

<section class="section-hero overlay inner-page bg-image" style="background-image: url('images/hero_1.jpg');" id="home-section">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h1 class="text-white font-weight-bold">Schedule An Interview</h1>
                <div class="custom-breadcrumbs">
                    <a href="#">Home</a> <span class="mx-2 slash">/</span>
                    <a href="#">Interview</a> <span class="mx-2 slash">/</span>
                    <span class="text-white"><strong>Schedule An Interview</strong></span>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="site-section">

    <div class="container">
        


        <h2>Create</h2>



        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>


</div>
</section>